
<!-- Footer -->
<footer class="footer">
    <div class="container">
        
        <div class="footer__head">
            <div class="row">
                <div class="col-md-5">
                    <div class="footer__item_first">
                        <h2 class="footer__logo">Deliver</h2>
                        <div class="footer__social">
                            <div class="footer-social_bg">
                            <a href="#" class="footer-social_item">
                                <i class="fa fa-twitter fa-lg footer-icon_pos footer-icon_twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="footer-social_bg">
                            <a href="#" class="footer-social_item">
                                <i class="fa fa-facebook fa-lg footer-icon_pos -icon_facebook" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="footer-social_bg">
                            <a href="#" class="footer-social_item">
                                <i class="fa fa-rss fa-lg footer-icon_pos" aria-hidden="true"></i>
                            </a>
                        </div>
                        </div>
                        <p class="footer__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam quis nunc rutrum placerat. Proin eu mi vitae neque veh interdum id nec turpis nam auctor faucibus sollicitudin.</p>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <div class="footer__item">
                        <h3 class="footer__h3">Contact info</h3>
                        <address class="footer__contacts">
                            222 Ave C South <br> Saskatchewan <br> Canada S7K 2N5
                            <div class="footer__contacts_item">
                                <a href="mailto:info@deliver.ca" class="footer__email_a">info@deliver.ca</a>
                            </div>
                            <div class="footer_contacts_item">
                                <a href="tel:1.306.222.3456" class="footer__phone_a">1.306.222.3456</a>
                            </div>
                        </address>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="footer__item footer__links">
                        <h3 class="footer__h3">Quick links</h3>
                        <ul class="footer__ul">
                            <li class="footer__li">
                                <a href="#" class="footer__li_a">Portfolio</a>
                            </li>
                            <li class="footer__li">
                                <a href="#" class="footer__li_a">About</a>
                            </li>
                            <li class="footer__li">
                                <a href="#" class="footer__li_a">Archive</a>
                            </li>
                            <li class="footer__li">
                                <a href="#" class="footer__li_a">Blog</a>
                            </li>
                            <li class="footer__li">
                                <a href="#" class="footer__li_a">Dropdown</a>
                            </li>
                            <li class="footer__li">
                                <a href="#" class="footer__li_a">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="footer__item">
                        <h3 class="footer__h3">Newsletter</h3>
                        <p class="footer__p footer__news_p">Lorem ipsum dolor sit amet dolor consectetur adipiscing elit.</p>
                        <form>
                            <input type="email" class="footer__inp_mail" name="mail" placeholder="Email">
                            <a href="#" class="footer__button_a">
                                <input type="button" class="footer__inp_button" name="mail" value="Ok">
                            </a>
                        </form>
                    </div>
                </div>
            </div><!-- /row -->
        </div><!-- /footer__head -->

        <div class="footer__bottom">
            <div class="row">
                <div class="col-md-12">
                    <p class="footer__bottom_p">Copyright 2016 <span>Deliver</span>. All Rights Reserved.</p>
                    <div class="footer__bottom_a">
                        <div class="footer__bottom_item">
                            <a class="footer__item_a" href="#">Credits</a>
                            <span>/</span>
                        </div>
                        <div class="footer__bottom_item">
                            <a class="footer__item_a" href="#">Privacy policy</a>
                            <span>/</span>
                        </div>
                        <div class="footer__bottom_item">
                            <a class="footer__item_a" href="#">Our teams</a>
                        </div>
                    </div>
                </div>
            </div><!-- /row -->
        </div><!-- /footer__bottom -->

    </div><!-- /container -->
</footer><!-- /footer -->

<!-- JS section -->
<script src="js/main.js"></script>


</body>
</html>
