<header class="header-main">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="header-main__top">
                    <h1 class="header-main__logo">Deliver</h1>
                    <div class="header-main__social">
                        <div class="-social_bg">
                            <a href="#" class="-social_item">
                                <i class="fa fa-twitter fa-lg -icon_pos" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="-social_bg">
                            <a href="#" class="-social_item">
                                <i class="fa fa-facebook fa-lg -icon_pos -icon_facebook" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="-social_bg">
                            <a href="#" class="-social_item">
                                <i class="fa fa-rss fa-lg -icon_pos" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /row -->

        <div class="row">
            <div class="col-md-11">
                <ul class="header__nav">
                    <li class="-main_nav_item">
                        <a href="index.html" class="-main_nav_item_a"">Home</a>
                    </li>
                    <li class="-main_nav_item">
                        <a href="portfolio.html" class="-main_nav_item_a">Portfolio</a>
                    </li>
                    <li class="-main_nav_item">
                        <a href="about.html" class="-main_nav_item_a">About</a>
                    </li>
                    <li class="-main_nav_item">
                        <a href="#" class="-main_nav_item_a">Services</a>
                    </li>
                    <li class="-main_nav_item">
                        <a href="#" class="-main_nav_item_a">Archive</a>
                    </li>
                    <li class="-main_nav_item">
                        <a href="#" class="-main_nav_item_a">Blog</a>
                    </li>
                    <li class="-main_nav_item">
                        <a href="#" class="-main_nav_item_a">Other pages</a>
                    </li>
                    <li class="-main_nav_item">
                        <a href="#" class="-main_nav_item_a">Contact us</a>
                    </li>
                </ul>
            </div>
            
            <div class="col-md-1">
                <div class="header-main__search">
                    <i class="fa fa-search fa-lg _search_pos" aria-hidden="true"></i>
                    <input type="text" class="_search_inp">
                </div>
            </div>
        
        </div><!-- /row -->
    </div><!-- /container -->
</header><!-- /header -->